<div class="one-third column alpha">
  <a href="/pages/technology">
 <div class="image_container">
   <img style="max-width:40%;" src="https://cdn.shopify.com/s/files/1/1039/4208/t/3/assets/one.png?6545690346284064918" alt="Every product has a 'footprint'<br /> tab breaking down its social <br /> and environmental impact.">
      <span class="feature__title">NASA Inspired Technology</span>
      <span class="feature__text">Fabric keeps your baby at the perfect temperature, helping them rest better.</span>
 </div>
</a>
</div>


<div class="one-third column">
<a href="/pages/technology">
          <div class="image_container">
            <img style="max-width:40%;" src="https://cdn.shopify.com/s/files/1/1039/4208/t/3/assets/two.png?3222401230825952885" alt="Products look good and perform  <br> the jobs they were created <br> to do.">
            <span class="feature__title">Unique Design & Artwork </span>
            <span class="feature__text">Features for extra easy on/off & diaper change.</span>
          </div>
       		</a>
      </div>


<div class="one-third column omega">
        	<a href="/pages/about-us">
          <div class="image_container">
            <img style="max-width:40%;" src="https://cdn.shopify.com/s/files/1/1039/4208/t/3/assets/three.png?2995612030029751691" alt="Clothes are made to be <br>enjoyed for many years.">
            <span class="feature__title">1:1 Model</span>
            <span class="feature__text">Every product purchased helps to save a baby in a developing country. </span>
          </div>
       		</a>
      </div>
