<div class="section-homepage--testimonials">
  <div class="container content">
    <h1 class="section-title--hed">What Parents are Saying</h1>
    <div class="section-testimonials--ratings">
      <svg viewBox="0 0 98.84 94" class="icon-svg--star">
        <use xlink:href="#icon-svg--star"></use>
      </svg>
      <svg viewBox="0 0 98.84 94" class="icon-svg--star">
        <use xlink:href="#icon-svg--star"></use>
      </svg>
      <svg viewBox="0 0 98.84 94" class="icon-svg--star">
        <use xlink:href="#icon-svg--star"></use>
      </svg>
      <svg viewBox="0 0 98.84 94" class="icon-svg--star">
        <use xlink:href="#icon-svg--star"></use>
      </svg>
      <svg viewBox="0 0 98.84 94" class="icon-svg--star">
        <use xlink:href="#icon-svg--star"></use>
      </svg>
      <svg viewBox="0 0 98.84 94" class="icon-svg--star icon-svg--star_inverted">
        <use xlink:href="#icon-svg--star_inverted"></use>
      </svg>
    </div>
    <p class="section-title--dek"><strong>4.9</strong> stars out of <strong>5</strong> for 100 reviews</p>
    <div class="testimonials-container">
      <figure class="alpha one-third column testimonial">
        <blockquote class="testimonial-quote">
            &quot;My little one loves her Little Lotus Sleep sac! Gorgeous print, so well made and so easy to use&hellip;Happiness for baby and mommy!&quot;
        </blockquote>
        <footer class="testimonial-meta">
            <cite class="testimonial-author">Diana</cite>
            <cite class="testimonial-title">Mother of Dylan <span>(3 Months Old)</span></cite>
        </footer>
      </figure>
      <figure class="one-third column testimonial">
        <blockquote class="testimonial-quote">
            &quot;I am on my third baby and this swaddle is the best! I love that the fabric is breathable, yet keeps my son warm. It also maintains its shape and does not bunch up or stretch&quot;
        </blockquote>
        <footer class="testimonial-meta">
            <cite class="testimonial-author">Wendy</cite>
            <cite class="testimonial-title">Mother of James <span>(6 Months Old)</span></cite>
        </footer>
      </figure>
      <figure class="omega one-third column testimonial">
        <blockquote class="testimonial-quote">
            &quot;Knowing the fabric will help keep her at the right temperature while I'm sleeping gives me a great peace of mind.&quot;
        </blockquote>
        <footer class="testimonial-meta">
            <cite class="testimonial-author">Angela</cite>
            <cite class="testimonial-title">Mother of Olivia <span>(2 Months Old)</span></cite>
        </footer>
      </figure>
    </div>
  </div>
</div>
