<div id="search">
  <div class="container">
    <div class="ten columns offset-by-three center">
      <div class="right search-close">
          X
      </div>
      <form action="/search">
        {% if settings.search_option != 'everything' %}
          <input type="hidden" name="type" value="product" />
        {% endif %}
        <span class="icon-search search-submit"></span>
        <input type="text" name="q" placeholder="Search {{ shop.name }}..." value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
      </form>
    </div>
  </div>
</div>
