<div class="container content section-homepage--helping_hand">
  <picture class="section-image eight columns alpha">
      <source srcset="//placehold.it/520x214">
      <img src="//placehold.it/520x214" alt="Hero Image">
    </picture>
  <div class="content-container seven omega columns offset-by-one">
    <h1 class="section-title--hed">A Helping <span>Hand</span></h1>
    <p class="section-title--dek">Every Little Lotus purchase helps provide Embrace incubators to babies in need, giving them a better chance at life.</p>
  </div>
</div>
