</div>
<div id="homepage_slider" class="flexslider">
    <ul class="slides">
	    	<li style="display: list-item;">
	    		<img src="https://cdn.shopify.com/s/files/1/1039/4208/t/3/assets/baby.png?8210765363139421017" alt="Shopify Themes by Out of the Sandbox">

	    		  <div class="flex-caption">
              <div class="container">
                <div class="columns  align_left ten ">
                </div>
              </div>
              </div>
	    	</li>
    </ul>
	</div>

<div class="homepage_content clearfix">
<div class="container">
<div class="sixteen columns">
<div class="section clearfix">
                  <h1 class="headline" style="color:black">With each purchase of the Little Lotus products, a baby will be helped by the Embrace infant warmer.</h1>
<div class="seven columns alpha">
<p>Little Lotus was founded by Embrace Innovations with a lofty goal: offer well-designed baby products and in the process, give 1,000,000 premature and underweight babies in the developing world a better chance at life.</p>
<p>When infants are born prematurely or underweight, they lack the ability to regulate their own temperature. Room temperature can feel freezing cold.  In the developed world, these babies are typically placed in an incubator. But in developing countries, incubators often aren’t available, and sometimes unsafe alternatives are used. </p>
<p>The award-winning Embrace Infant Warmer was created to help solve this problem in the developing world. Developed by the co-founders of Embrace Innovations, this warmer doesn’t require constant electricity and is portable, reusable and cheaper than traditional incubators. It‘s also a safe and reliable alternative</p>
</div>
<div class="eight columns alpha offset-by-one" style="text-align: left;"><img src="https://cdn.shopify.com/s/files/1/1039/4208/t/3/assets/placeholder.png?15733391379220025343" class="topper" style="display: block; margin-left: auto; top: 0px; margin-right: auto;" alt="Teaglad Process" height="403" width="656"></div>
</div>
</div>
</div>
<div class="row-wrap">
<div class="container"><center><br>
<h2 >Our Mission</h2>
<p style="font-size: 30px;">Over 150,000 babies have already been helpedacross 10 countries. We want this number to reach 1,000,000  babies.
  </p>
  </div>


<!-- Row Wrap -->
<div class="homepage_content clearfix">
<div class="container" style="padding: 0px 0 0 0;">
<div class="sixteen columns" style="margin: 0px;">
<div class="section clearfix" style="margin: 0px;">
<div class="section clearfix" style="margin: 0px;">
<div class="eight columns alpha" style="text-align: left;"><br><br><img src="http://static1.squarespace.com/static/5512c2e5e4b03f20e2c2867e/t/552cd8eae4b049abc9c3c4fe/1429002485368/Screen+Shot+2015-04-13+at+12.05.03+AM.png?format=500w" class="topper" style="display: block; margin-left: auto; top: 0px; margin-right: auto;" alt="detox tea with antioxidants" height="270" width="439"></div>
<div class="eight columns omega" style="margin-top: 15px;"><br><br>
<h2 dir="ltr">History of Little Lotus</h2>
<p dir="ltr"><span><span id="docs-internal-guid-439f472b-fb18-33ad-324b-e01c06bca128">

<p>Our history started in 2008, in a class at Stanford University's d.school, where we were challenged to come up with an incubator that costs less than 1% the cost of a traditional incubator. After extensive research, we developed the Embrace infant warmer, and launched Embrace Global and Embrace Innovations.</p>

<p>After helping 150,000 babies across 10 countries, we discovered that parents in the US shared a common concern: how do I know if my baby is at the right temperature? So we decided to use similar technology to create the Little Lotus baby products. </p>

<p>Our team worked closely with parents to design the perfect swaddle & sleeping bag, along with a cozy blanket. Then we teamed up with artist Drue Kataoka to come up with a beautiful print based on the Touch our Future artwork, which reflects the spirit of the Embrace infant warmers.</p>

<p>We wanted to be helpful to parents here, and also to help vulnerable babies all over the world.  So, we came up with a model where for every Little Lotus product purchased, a baby will be helped by the Embrace infant warmer in a developing country.</p></div>
</div>
</div>
</div>
  <br>
  <hr>
  <div class="container" style="padding: 0px 0 0 0;">
<div class="sixteen columns" style="margin: 0px;">
<div class="section clearfix" style="margin: 0px;">
<div class="section clearfix" style="margin: 0px;">

<div class="eight columns omega" style="margin-top: 15px;"><br><br>
<h2 dir="ltr">The story of the Little Lotus name</h2>
<p dir="ltr">

  <span>

  <span id="docs-internal-guid-439f472b-fb18-33ad-324b-e01c06bca128">
    A lotus is associated with purity, beauty, divine birth and enlightenment in Buddhism and Hinduism. The lotus flower represents birth, both in a figurative and a literal sense. Lotuses grow in muddy water, and this is the reason for the flower’s first and most literal meaning: rising and blooming above the murk to achieve enlightenment.
</span>
  <br><br>
    <span id="docs-internal-guid-439f472b-fb18-33ad-324b-e01c06bca128">
Researchers report that the lotus also has the remarkable ability to regulate the temperature of its flowers to within a narrow range just as humans and other warmblooded animals do.
</span>
  </span>


  </p>


</div>


<div class="eight columns alpha" style="text-align: left;"><br><br>

<img src="http://static1.squarespace.com/static/5512c2e5e4b03f20e2c2867e/t/552aae21e4b05e8743400844/1428860460638/Screen+Shot+2015-04-12+at+10.40.32+AM.png?format=500w" class="topper" style="display: block; margin-left: auto; top: 0px; margin-right: auto;" alt="detox tea with antioxidants" height="270" width="439"></div>


</div>
</div>
</div>
</div>
</div>
<!--<div class="row-wrap" style="padding: 0px 0 0 0;">
<div class="container"><br>
<h2 style="text-align: center;">About the Artist: Drue Kataoka</h2>
<p style="text-align: center;">  You can lend your hand to the artwork through the mobile application.</p>
<p style="text-align: center;"><a href="http://www.touchourfuture.org/about" class="action_button"> <span size="3" style="font-size: 18px;color: white;">Download the Mobile App</span> </a></p>
<p>&nbsp;</p>
</div>
</div>-->
</div>
</div>

<style>

  .homepage_content h2,  {
    background-color: none;
    color: #404040;
}

  h2, .h2 {
    font-size: 35px;
    margin-bottom: 1em;
    line-height: .5em;
}

  div.content {
    padding: 83px 0px 0px 0px;
}

  .flexslider .slides {
    zoom: 1;
    padding-top: 0px;
}
</style>
