  
<!-- Hero Image -->
<!-- Split Hero -->
<div class="eight columns alpha">
<a href="" class="image-link">
<div class="hero-image">
<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/LL_Tech_White_bg.jpg?14459084257949972429" alt="">
<div class="hero-overlay">
      <h1>NASA Inspired Technology</h1>
      <p>Little Lotus Swaddles use prioprietary fabric to regulate your baby’s temperature for a longer, better nights’ sleep</p>
      <span class="rbutton">Find out more</span>
</div>
</div>
</a>
</div>

<div class="eight columns omega">
<a href="" class="image-link">
<div class="hero-image">
<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/LL_121_White_bg.jpg?14459084257949972429" alt="">
<div class="hero-overlay">
      <h1>Our 1:1 Model</h1>
  		<p>With every product purchased a baby in the developing world will be helped by the Embrace Infant Warmer.</p>
  		<span class="rbutton">Learn more</span>
</div>
</div>
</a>
</div>


<style>
  .hero {margin-left:0px; margin-right:0px;}

  .hero-image {
   position: relative;
   width: 96%;
   left: 2%;
}
.hero-image img {
width: 100%;
border: 1px solid #ff6666;
}
.hero-overlay {
   position: absolute;
   top: 0px;
   text-align: left;
   left: 4%;
   width: 94%;
   padding: 0px;
   margin:0px;
}
.hero-overlay h1 {color: #ff6666; font: bold 26px FuturaMedium, Sans-Serif;line-height: 20px; margin-bottom:10px; margin-top: 10px;}
.hero-overlay p {color: #444; font: 18px FuturaMedium, Sans-Serif;line-height: 24px; margin-bottom:5px;}
.hero-overlay .rbutton {margin-top: 10px; border-radius: 5px; padding-bottom: 5px; padding-top: 5px; padding-left: 10px; padding-right: 10px; background: #ff6666; color: #fff; font: bold 18px/36px FuturaMedium, Sans-Serif; text-decoration: none;}
  .hero-overlay .rbutton:hover {background: #ff8888;}
</style>


</div>
