<div class="sixteen columns clearfix collection_nav">
</div>
</div>

  	<section id="featured_artisan_section3">
      <!-- <img style="max-width:100%;" src="https://cdn.shopify.com/s/files/1/0351/8285/files/FeatureArtisanBanner_NoText_10_12_15.jpeg?7252394168028587196"> -->
  		<div class="featured_artisan_teaser">
  			<h1>Little Lotus: NASA Inspired</h1>
	  	<!--<button id="featured_artisan_btn">Shop Now</button> -->
	  	</div>
  </section>

<div class="container">

<div class="sixteen columns page">
    {{ page.content | split: '<!-- split -->' | first}}

<!-- Product Range -->
{% if settings.frontpage_collection != blank %}
  <div class="container content" style="padding-top: 0px; padding-bottom: 0px">
    <div name="products" class="sixteen columns">
  		<div class="section clearfix">
   			<h4 class="title" style="text-align: center; margin: 0;">View our product range</h4>
          <p class="mobile_only_block" style="text-align: center;  color: #ff6666;">&larr; swipe to see more &rarr;</p>
  <p class="desktop_only_block" style="text-align: center;  color: #ff6666;">&larr; see more &rarr;</p>
      </div>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
  <div class="container content" style="padding-top: 0px; padding-bottom: 0px">
  <div class="responsive_slick">
    {% assign collection = '' %}
    {% assign products = collections[settings.frontpage_collection].products %}
    {% assign products_per_row = settings.frontpage_products_per_row %}
    {% include 'lw-product-loop' with settings.homepage_sidebar %}
  </div>
  </div>
<script>
$(document).ready(function(){
  $('.responsive_slick').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 2,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
});
  </script>
{% endif %}


    {{ page.content | split: '<!-- split -->' | last}}



</div>


<style>

  h4, .h4, h4.title a{ font-size: 22px; line-height: 32px; margin: 0 0 1em 0; padding: 0; border-bottom: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; padding: 7px 0; color: #42a4b4 ;}

  .slick-next, .slick-prev {color: #ff6666;}
  .slick-next:before, .slick-prev:before {color: #ff6666;}
  .featured_artisan_teaser{
	float: right;
	width: 100%;
	text-align: center;
	color: #fff;
	margin-top: 10%;
}

.video-mobile{display: none;}
.video-desktop{display: block;}
#tech-features-txt{display: none;}
#tech-features-img{display: block;}

  @media only screen and (max-width: 1220px){

        .featured_artisan_teaser h1{
	margin-top: 0%;
}

      .featured_artisan_teaser{
	float: right;
	width: 100%;
	text-align: center;
	color: #fff;
}
  }





@media only screen and (max-width: 960px){
    .featured_artisan_teaser{
	margin-top: 13%;
}

  div.content {
    padding-top: 35px;
}
}


@media only screen and (max-width: 768px){
    .featured_artisan_teaser{
	margin-top: 95px;
}

  .featured_artisan_teaser h1 {
    color: #fff;
    font-size: 35px;
}

   div.content {
    padding-top: 0px;
}

  div.container.main.content {
        display: none;

  }

  }

@media only screen and (max-width: 560px){
  	.video-mobile{display: block;}
  	.video-desktop{display: none;}
    #tech-features-txt{display: block;}
  	#tech-features-img{display: none;}
}

@media only screen and (max-width: 480px){
	.featured_artisan_teaser{margin-top: 40px; }
    .featured_artisan_teaser h1 {color: #fff;font-size: 35px; line-height: 40px;}
}

  .portrait {display: none;}

</style>
