</div>

<div class="container">
<div class="sixteen columns page">
	<h4 style="text-align: center;">Hear what parents are saying about Little Lotus</h4>
	<div class="desktop_only_block" style="text-align: center;"><iframe src="https://player.vimeo.com/video/124890858?title=0&amp;byline=0&amp;portrait=0" width="540" height="270" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
	<div class="mobile_only_block" style="text-align: center;"><iframe src="https://player.vimeo.com/video/124890858?title=0&amp;byline=0&amp;portrait=0" width="300" height="168" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
	<div class="desktop_only_block" style="text-align: center;"><iframe src="https://player.vimeo.com/video/149731488?title=0&amp;byline=0&amp;portrait=0" width="540" height="270" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
	<div class="mobile_only_block" style="text-align: center;"><iframe src="https://player.vimeo.com/video/149731488?title=0&amp;byline=0&amp;portrait=0" width="300" height="168" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
</div>
</div>

<h4 style="text-align: center;">Product reviews</h4>
<p class="mobile_only_block" style="text-align: center;  color: #ff6666;">&larr; swipe to see more &rarr;</p>
<div class="cd-testimonials-wrapper cd-container">
	<ul class="cd-testimonials">
		<li>
          <p>When she wears the Little Lotus her whole body feels perfect to the touch. The fabric is made of the highest quality and is the gentlest material. It allows easy access for middle of the night diaper changes with a zipper closure along the bottom.
            <b>The best feature for my sleepy daughter at bedtime is that it is easy on/easy off.  There is no need to pull anything over her head, just a few snaps and a zip.  Beyond its utility for my own baby, this product provides me with a connection to countless other mothers throughout the world who are worried about their own babies' warmth at a far more fragile time in their child's life. </b> I love and recommend Little Lotus and its mission. </p>
			<div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Review1.png?10758026367646340742" alt="Author image">
              	<ul class="cd-author-info">
					<li>Elizabeth B</li>
					<li>Pediatrician and new Mom</li>
				</ul>
			</div>
		</li>
      	<li>
          <p>Now that I've had my third child in four-and-a-half years, I'm feeling pretty confident in my baby gear knowledge: which jogging stroller is the best, which brand of onesie is softest, and which sleep sack will keep my baby the warmest.  <b>When I tried the Little Lotus sleeping bag I felt like I had discovered a natural winner.</b></p>
		  <div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Review2.png?10758026367646340742" alt="Author image">
            	<ul class="cd-author-info">
					<li>Sarah B</li>
					<li>Mother of 3</li>
				</ul>
			</div>
		</li>
		<li>
		<p>The Little Lotus swaddle is now my go to swaddle for my newborn. I am on my third baby and this swaddle is the best! Wish I had it for my first two.
          <b>The zipper design makes diaper changes a cinch, which is a must for middle of the night changes. I love that the fabric is breathable, yet keeps my son warm.</b> It also maintains its shape and does not bunch up or stretch out much, which helps keep his arms in and makes him feel snug longer.
                  Thanks Little Lotus!</p>
		  <div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Review_1.png?2684358863475992551" alt="Author image">
            	<ul class="cd-author-info">
					<li>Wendy</li>
					<li>Mom of 3</li>
				</ul>
			</div>
		</li>
      	<li>
		<p>We have loved our Lotus swaddle. Our son Asher has always loved to be snuggled up tight so the Lotus was a perfect way to keep him cozy during naps and at night.
            I love the ease of putting him in, the double zipper for diaper changes, and the adjustable snaps at the shoulders (they grow fast!).
            <b>I also love the technology behind the temperature control. This gives my husband and I peace of mind with the ever changing Bay Area weather this year.
              We look forward to transitioning him to the next size shortly.</b> I have also recommended this to my moms group and a few moms have recently purchased them. Overall the feedback has been great.</p>
		  <div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Review_Vanesa.JPG?7783995062350763848" alt="Author image">
            	<ul class="cd-author-info">
					<li>Vanesa M</li>
					<li>Bay Area Little Lotus Mom</li>
				</ul>
			</div>
		</li>
		<li>
          <p><b>This swaddle is meticulously designed, they have thought of everything! </b>First of all, baby is always comfy at the right temperature, never hot or cold.
              The wings are the easiest design for swaddling, I can get her arms out for breastfeeding and get them back in for sleeping without waking her.
              The shoulder closures are brilliant for when baby falls asleep outside the swaddle and you need to sneak it back on.
              The zipper at the bottom is great for diaper changes, she's not too exposed and cold as she would be with a vertical zipper running from neck to feet.</p>
          <p>The fabric is soft and the Velcro is quiet. <b>When the name of the game is don't wake a sleepy baby, no other swaddle works as well as this one.</b>
              That each one contributes to an infant warmer for a preemie somewhere else in the world is an incredible, heartwarming bonus.</p>
          <div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Review3.png?10758026367646340742" alt="Author image">
            	<ul class="cd-author-info">
					<li>Melissa M</li>
					<li>Well-rested mom</li>
				</ul>
			</div>
		</li>

		<li>
          <p>As a pediatrician and mom of three boys I have tried every swaddle and sleep sack on the market. The little lotus swaddle is unique with its high tech fabric that uses a baby's own body heat to help maintain an optimal temperature and ensure a good nights sleep. <b>I love knowing that while my baby is sleeping warm and snug, Little Lotus is helping keep other babies warm and safe in developing countries around the world.</b></p>
			<div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Review4.png?10758026367646340742" alt="Author image">
              	<ul class="cd-author-info">
					<li>Tanya A</li>
					<li>Pediatrician and mom of 3</li>
				</ul>
			</div>
		</li>
		<li>
          <p>The zipper design of the Little Lotus swaddle made changing diapers for newborn Eva so much easier.  <b>As first time parents in San Francisco, my daughter and son-in-law used the Little Lotus swaddle constantly. I felt good about my contribution to Embrace and giving my new grandchild a really well designed and useful garment.</b></p>
			<div class="cd-author">
				<img src="https://cdn.shopify.com/s/files/1/1039/4208/files/Ellen_review.jpeg?9031005097450362365" alt="Author image">
              	<ul class="cd-author-info">
					<li>Ellen M</li>
					<li>Loving Grandma</li>
				</ul>
			</div>
		</li>
	</ul> <!-- cd-testimonials -->

	<a href="#0" class="cd-see-all" style="color: #fff;">See all</a>
</div> <!-- cd-testimonials-wrapper -->

{% include 'reviews-all' %}





<div class="sixteen columns page">
    {{ page.content }}
</div>

<script>
jQuery(document).ready(function($){
	//create the slider
	$('.cd-testimonials-wrapper').flexslider({
		selector: ".cd-testimonials > li",
		animation: "slide",
		controlNav: false,
		slideshow: false,
		smoothHeight: true,
		start: function(){
			$('.cd-testimonials').children('li').css({
				'opacity': 1,
				'position': 'relative'
			});
		}
	});

	//open the testimonials modal page
	$('.cd-see-all').on('click', function(){
		$('.cd-testimonials-all').addClass('is-visible');

      if (screen.width > 400) {$('.header_bar').hide();}
		else {$('.mm-fixed-top').hide();}
	});

  	$('.review-see-all').on('click', function(){
		$('.cd-testimonials-all').addClass('is-visible');

      if (screen.width > 400) {$('.header_bar').hide();}
		else {$('.mm-fixed-top').hide();}
	});

	//close the testimonials modal page
	$('.cd-testimonials-all .close-btn').on('click', function(){
		$('.cd-testimonials-all').removeClass('is-visible');
        if (screen.width > 400) {$('.header_bar').show();}
		else {$('.mm-fixed-top').show();}
	});
	$(document).keyup(function(event){
		//check if user has pressed 'Esc'
    	if(event.which=='27'){
    		$('.cd-testimonials-all').removeClass('is-visible');
           if (screen.width > 400) {$('.header_bar').show();}
		else {$('.mm-fixed-top').show();}
	    }
    });

	//build the grid for the testimonials modal page
	$('.cd-testimonials-all-wrapper').children('ul').masonry({
  		itemSelector: '.cd-testimonials-item'
	});
});
</script>
